model_type: 'jtvae'

smiles_input_file: '/path/to/GGMD/examples/LogP_AutoGrow/zinc_smiles.txt'
output_directory: '/path/to/output/directory' #where the population will be saved as an output
scorer_type: 'ampl_model'
num_epochs: 5

#Selection/Optimization params
optimizer_type: 'geneticoptimizer'
selection_type: "roulette" #roulette or tournament are accepted
selection_pool_size: 5 #Previously called the tourn_size
mutate_prob: 0.1
mutation_std: 0.25 #NEEDS FURTHER REVIEW AND MODIFICATION TO YOUR PROBLEM
max_clones: 1 #DEPENDS ON HOW MANY COPIES OF ONE MOLECULE YOU WANT. MORE ALLOWS FOR CONVERGENCE, LESS ENCOURAGES DIVERSITY
optima_type: "maxima"
elite_ratio: 0.15 #ELITE POPULATION GUARENTEES THE SURVIVAL OF THE TOP X MOLECULES
sample_with_replacement: False #False means that during selection, selected parents will not be removed from the pool for parents.

initial_pop_size: 50
max_population: 50

#Generative model parameters:
##FNL JTVAE specific
vocab_path: '/path/to/GGMD/examples/LogP_JTVAE/all_vocab.txt'
model_path: '/path/to/GGMD/examples/LogP_JTVAE/model.epoch-35'

#AMPL scorer (singularity)
container_type: 'singularity'
ampl_image: '/data/ampl.sif' #Set this value to point to the location of your singularity container.
target_col_name: 'pIC50' #Change this to match your target
working_directory: '/path/to/workspace/directory' #This directory is what will be mounted to the container to pass files in and out

#AMPL scorer (Docker) The below variables are here to serve as an example of applying a Docker image instead of singularity
#container_type: 'docker'
#ampl_image: 'docker_file_name:with_optional_tag_if_used' #Set this to point to the 
#target_col_name: 'pIC50' #Change this to match your target
#working_directory: '/path/to/workspace' #This directory is what will be mounted to the container to pass files in and out
